.resources-container {
  max-width: 1200px;
  margin: 0 auto;
}

.resources-desc {

}

.resources-cards {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-bottom: 1rem;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #8ba3c7;
    border-radius: 10px;
  }
}

.resources-card {
  flex: 0 0 350px;
  scroll-snap-align: start;
  background-color: $dark-card-bg;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  @media (max-width: 600px) {
    flex: 0 0 280px;
  }
}

.resources-card-vid {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.card-vid-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;

  &:hover{
    transform: scale(1.03);
  }
}
